@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;
@use 'styles/common';

.tech-info-container {
  @extend %flex-wrap-container-hor-cent;

  .tech-info {
    @extend %centtext;
    @extend %defaulttransition;
    @extend %smallflex;
    @extend %columnflex;
    justify-content: center;
    background-color: vars.$defaultbasecolor;
    border-radius: 4px;
    border: 1px solid vars.$shadowcolor;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 0 vars.$shadowcolor;
    height: 30px;
    padding: 0 5px;
    max-width: fit-content;
    cursor: default;

    &.hover {
      @extend %pointer;

      &:hover {
        background-color: vars.$defaulthovercolor;
      }

      &.chosen {
        background-color: vars.$defaultchosencolor;
      }
    }
  }
  &::after {
    @extend %smallflex;
    @extend %emptycontent;
  }
}
