@mixin flexeddiv($flexdirection, $justifycontent, $alignitems: unset) {
  display: flex;
  justify-content: $justifycontent;
  @if $flexdirection != row {
    flex-direction: $flexdirection;
  }
  @if $alignitems != unset {
    align-items: $alignitems;
  }
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}
