@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;
@use 'styles/common';

.maininfo {
  @extend %columnflex;
  justify-content: space-between;

  .headline {
    @extend %centtext;
    font-size: 22pt;
    font-weight: bold;
    color: vars.$headlinecolor;
    text-shadow: 3px 3px 0 rgb(0 0 0 / 15%);
  }

  .about {
    @extend %rowflex;
    margin: 20px 0px;
    justify-content: center;
    gap: 10%;

    @media screen and (orientation: portrait) and (max-width: 600px) {
      height: 25vh;
    }

    .avatar {
      @extend %fullheight;
      @extend %columnflex;
      justify-content: center;

      img {
        @include mixins.setwidthandheight(150px, 150px);
        border-radius: 50%;
        border: 2px solid black;
      }
    }

    .my-info {
      @extend %columnflex;
      justify-content: space-around;
      width: 50%;
    }
  }
}
