@use '../../styles/mixins' as mixins;

.maininfo {
  @include mixins.flexeddiv(column, space-between);
  height: 20vh;

  .about {
    @include mixins.flexeddiv(row, space-around);

    .avatar {
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .my-info {
      @include mixins.flexeddiv(column, space-around);
    }
  }

  .tech-info-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;

    .tech-info {
      flex: 1 10%;
      //max-width: 16%;
    }
  }
}
