@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;
@use 'styles/common';

.App {
  width: 100%;
  position: absolute;
  background-color: #282c34;
  color: #8a8a8a;
  min-height: 100%;

  a {
    @extend %defaulttransition;
    color: #8a8a8a;

    &:hover {
      color: vars.$headlinecolor;
    }
  }

  .App-content {
    @extend %hor-cent-block;
    width: 80%;

    @media screen and (orientation: portrait) and (max-width: 600px) {
      width: 95%;
    }

    .main {
      padding: 5% 0 3% 0;
    }

    .separator {
      @extend %centtext;
      padding: 10% 0;
    }

    .projects-container {
      @extend %flex-wrap-container;
      justify-content: center;
      margin: 2% auto 0 auto;

      .project {
        @extend %centback;
        @extend %bigflex;
        height: 280px;
        max-width: 50%;
        min-width: 420px;
        box-shadow: 8px 8px 0 rgb(0 0 0 / 25%);
        display: inline-block;
        position: relative;
        border-radius: 12px;
        background-size: 100% 100%;
        overflow: hidden;

        @media screen and (orientation: portrait) and (max-width: 600px) {
          min-width: 90vw;
          height: 30vh;
        }

        .project-overlay {
          @include mixins.setwidthandheight(100%, 100%);
          @extend %defaulttransition;
          position: absolute;
          opacity: 0;

          &:hover {
            background-color: rgb(78, 72, 78, 0.8);
            opacity: 1;
          }

          .project-overlay-up {
            @include mixins.setwidthandheight(90%, 15%);
            @extend %centtext;
            @extend %columnflex;
            justify-content: flex-end;
            color: white;
            border-bottom: 1px solid white;
            margin: auto 5%;
            padding-bottom: 5px;
          }

          .project-overlay-middle {
            @extend %columnflex;
            justify-content: flex-end;
            height: 35%;

            .links-container {
              @extend %hor-cent-block;
              @extend %rowflex;
              justify-content: center;
              width: 60%;

              .link-separator {
                border-left: 1px solid white;
                margin: 0 10%;
              }

              .link-url {
                @include mixins.setwidthandheight(40px, 40px);
                @extend %centback;
                @extend %pointer;
                background-size: 95%;

                &:hover {
                  background-size: 100%;
                }
              }
            }
          }

          .project-overlay-down {
            @extend %columnflex;
            justify-content: center;
            height: 50%;
          }
        }
      }

      &::after {
        @extend %bigflex;
        @extend %emptycontent;
      }
    }
  }
}
